body, main {
  background-color: black;
}

main {
  margin-top: 30vh;
  margin-bottom: 40vh;
  background-color: black;
}
main blockquote {
  color: #f5f5f5;
  font-size: 2em;
  line-height: 1.2em;
}
main blockquote cite {
  font-size: 20px;
  font-style: italic;
}
